.header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%; 
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.title {
  text-align: center;
  font-size: 20px;
  width: 100%;
}

button {
  width: 40px;
  height: 36px;
}

.content {
  /* height: calc(100% - 50px); */
  z-index: 9999;
}

.cinemaItem {
  margin-bottom: 6px;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}

.cinemaItem>div:first-child {
  display: flex;
  justify-content: space-between;
}

.cinemaItem>div:first-child>span:last-child {
  color: #ff5f16;
  font-size: 14px;
} 

.lowPrice {
  font-size: 22px;
}

.cinemaItem>div:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  color: gray;
  font-size: 14px;
}

.wrapper {
  height: 500px;
  overflow: hidden;
  background-color: #bfa;
}